@import "compass/css3";
body{
  background-color: #009cda;
}
.rounded{
  @include border-radius(5px);
}

li.list-1{
  background-image: url('../publicAsset/a.png?__sprite');
}
li.list-2{
  background-image: url('../publicAsset/b.png?__sprite');
}