<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    @@include('../inlinePart/header.html')
    Hello world
    @@include('../inlinePart/footer.html')

    <script src=""></script>
</body>
</html>