<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/internalM/hello/hello.scss">
</head>
<body>
    <link rel="import" href="/inlinePart/header.html?__inline"/>
    Hello world
    <link rel="import" href="/inlinePart/footer.html?__inline"/>

    <script src="/externalM/mod.js"></script>
    <script>
        require('/internalM/hello/hello');
    </script>
</body>
</html>