<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <link rel="import" href="/inlinePart/header.html?__inline"/>
    Hello world
    <button class="am-btn am-btn-success" data-am-popover="{content : 'hahahaha'}">
        点我
    </button>
    <img src="/internalM/publicAsset/a.png">
    <img src="/internalM/publicAsset/b.png">
    <img src="/internalM/publicAsset/c.png">
    <img src="/internalM/publicAsset/d.png">
    <img src="/internalM/publicAsset/e.png">
    <link rel="import" href="/inlinePart/footer.html?__inline"/>
    <script src="/internalM/hello/hello.js"></script>
</body>
</html>